/* UniversalUI Website - common.css, first written by sebhall in march 2023 */

/* set global style tags */

html {
  min-height: 100%;
}

body { 
  background: rgb(245,135,135);
  background: linear-gradient(45deg, rgba(245,135,135,1) 0%, rgba(45,198,253,1) 100%) no-repeat;
  color: white; 
  font-family: "Inter", sans-serif; 
  margin: 0;
  padding: 0; 
}

h1 {
  color: white;
  text-align: center;
  padding-top: 5%;
  background: none;
}

/* navigationBar */

#navigationBar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color:white;
  float: left;
  align-items: center;
  text-align: center;
  transition: 0.25s ease-in-out;
}

#navigationBar h1 {
  padding-top: 0%;
  color: black;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  float: left;
  left: 60px;
  top: -12.5px;
}

#navigationBar a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20;
  border-radius: 5px;
  line-height: 30px;
}

#navigationBar a:hover {
  color: #aaa;
}

#navigationBar img {
  font-size: 25px;
  font-weight: bold;
  float: left;
  height: 50px;
  width: 50px;
  margin-left: 5px;
}

/* navigationMenu */

#navigationMenu {
  float: right;
  height: 50px;
  top: 0;
  display: block;
}


/* navigationMenu */

#hamburger {
  top: 0;
  margin: 0;
  right: 0;
  font-size: 25px;
  font-weight: bold;
  display: none;
  position: absolute;
  transition: 0.25s ease-in-out;
}

#xmark {
  top: 0;
  margin: 0;
  right: 0;
  font-size: 25px;
  font-weight: bold;
  display: none;
  position: absolute;
  transition: 0.25s ease-in-out;
}




/* set hamburger on for thin displays */

@media screen and (max-width: 600px) {
  #navigationBar {
    height: 50px;
  }

  #navigationBar a {
    text-align: left;
    float: left;
    margin-left: 25px;
    width: 80%;
  }
  #navigationMenu {
    top: 50px;
    width: 100%;
  }

  #hamburger {
    display: block;
  }

}